@import "tailwindcss";

:focus:not(:focus-visible) {
    outline: none !important;
}

body {
    background: #DEDCDB;
    overflow: hidden;
    overscroll-behavior-y: none !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bg-dark {
    background-color: #151515;
}

.bg-light {
    background-color: #DEDCDB;
}

.bg-pond {
    background-color: #161680;
}

.bg-gray {
    background-color: #2E2E2E;
}

.bg-dark:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px;
    opacity: 0.08;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.serif-typo {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    letter-spacing: 0.02rem;
}

.serif-typo-body {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

.serif-typo-paragraph {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

.serif-typo-body-small {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 0.9rem;
    font-style: normal;
    line-height: normal;
}

.serif-typo-title {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.serif-typo-page-title {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 2.5rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.serif-typo-h1 {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 2.5rem;
    white-space: nowrap;
}

.serif-typo-h1-mobile {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.serif-typo-subtitle {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
}

.mono-typo-nav {
    color: #DEDCDB;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    font-variation-settings:
            "wdth" 100;
}

.mono-typo-nav-large {
    color: #DEDCDB;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    font-variation-settings:
            "wdth" 100;
}

.mono-typo-nav-mobile {
    color: #DEDCDB;
    font-family: "Inconsolata", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    line-height: normal;
    font-variation-settings:
            "wdth" 100;
}

.sans-typo {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.text-pond-blue{
    color: #5468FF !important;
}

.text-pond-hover:hover {
    color: #5468FF !important;
}

.text-off-white{
    color: #dedcdb !important;
}

.sans-typo-title {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.sans-typo-title-small {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.sans-typo-title-thin {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: lighter;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}
.sans-typo-title-thin-mobile {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.sans-typo-detail {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.archive-entry-sans {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.archive-entry-sans-mobile {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.archive-entry-mono {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.archive-entry-mono-mobile {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.attribution-typo {
    color: #DEDCDB;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    opacity: 75%;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}

.attribution-typo-dark {
    color: #191919;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}

.sans-warning {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    text-wrap: balance;
    text-align: center;
}

.serif-warning {
    color: #DEDCDB;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    text-wrap: balance;
    text-align: center;
}

.sans-title {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 25vh;
    font-style: normal;
    font-weight: 700;
    line-height: 85%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.asterisk-line {
    width: 100%;
    height: 8%;
    background-color: #DEDCDB;
}

.bg-light {
    background-color: #DEDCDB;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* ::-webkit-scrollbar {
    display: none;
}

:global(*::-webkit-scrollbar) {
    display: none !important;
}

:global(*) {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

@media (max-width: 640px) {
    .asterisk-line {
        width: 4rem;
        height: 0.4rem;
    }
    .sans-typo {
        white-space: normal;
    }
}
