@import "tailwindcss";

body {
    background: #DEDCDB;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bg-dark {
    background-color: #191919;
}
.sans-typo {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
}

.sans-title {
    color: #DEDCDB;
    font-family: "Instrument Sans", sans-serif;
    font-size: 25vh;
    font-style: normal;
    font-weight: 700;
    line-height: 85%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.asterisk-line {
    width: 100%;
    height: 8%;
    background-color: #DEDCDB;
}

@media (max-width: 640px) {
    .asterisk-line {
        width: 4rem;
        height: 0.4rem;
    }
    .sans-typo {
        white-space: normal;
    }
}

@media (max-width: 370px) {
    .sans-typo {
        font-size: 1.4rem;
    }
}
